sphinx
urllib3<2.6.3
pyqt5<5.13
pyqtwebengine<5.13
nbsphinx
autodoc_pydantic
myst_nb
sphinx-autobuild
sphinx_book_theme
sphinx-panels
sphinx_copybutton
m2r2
sphinx_toolbox
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
markdown-it-py>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
